@model IEnumerable<Linkit.Domain.AssetType>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImagePath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DisplayText)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SortOrder)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SortOrder)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AssetTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AssetTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AssetTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
