
@{
    ViewData["Title"] = "Index";
}


<form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="UploadFiles">
    <div class="form-group">
        <label class="control-label">Upload one or more files using this form:</label>
        <div class="col-md-10">
            <input type="file" name="files" multiple/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" />
        </div>
    </div>
</form>

