@model Linkit.Domain.Asset

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Asset</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="AssetId" />
        <dt>
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Topic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KeyWords)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KeyWords)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssetFilePath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssetFilePath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssetLink)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssetLink)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssetCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssetCategory.AssetCategoryId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssetFileType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssetFileType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssetType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssetType.AssetTypeId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
