@model Linkit.Domain.Asset

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Asset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Topic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KeyWords)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KeyWords)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssetFilePath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssetFilePath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssetLink)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssetLink)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssetCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssetCategory.AssetCategoryId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssetFileType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssetFileType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssetType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssetType.AssetTypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AssetId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
