@model Linkit.Domain.Asset

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Asset</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="AssetId" />
        <div class="form-group">
            <label asp-for="AssetTypeId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="AssetTypeId" class="form-control" asp-items="ViewBag.AssetTypeId"></select>
                <span asp-validation-for="AssetTypeId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AssetCategoryId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="AssetCategoryId" class="form-control" asp-items="ViewBag.AssetCategoryId"></select>
                <span asp-validation-for="AssetCategoryId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AssetFileTypeId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="AssetFileTypeId" class="form-control" asp-items="ViewBag.AssetFileTypeId"></select>
                <span asp-validation-for="AssetFileTypeId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Topic" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Topic" class="form-control" />
                <span asp-validation-for="Topic" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateUpdated" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateUpdated" class="form-control" />
                <span asp-validation-for="DateUpdated" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateCreated" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="KeyWords" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="KeyWords" class="form-control" />
                <span asp-validation-for="KeyWords" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AssetFilePath" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AssetFilePath" class="form-control" />
                <span asp-validation-for="AssetFilePath" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AssetLink" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AssetLink" class="form-control" />
                <span asp-validation-for="AssetLink" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
