@model Linkit.ViewModel.ResourceViewModel
@using Linkit.ViewModel;
@{
    ViewData["Title"] = "Help Resource Upload";
}

<h2>Help Resource Upload</h2>
<form asp-action="HelpResourceUpload" method="post" id="resourceForm" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Resource</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <input hidden="hidden" asp-for="AssetId" />
        <!-- Validation summary -->
        <div class="form-group">
            <label asp-for="AssetCategoryId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="AssetCategoryId" class="form-control" asp-items="@Model.AvailiableCategories"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Topic" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Topic" class="form-control" />
                <span asp-validation-for="Topic" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-8">
                <textarea asp-for="Description" class="form-control" rows="4" style="max-width:560px"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="KeyWords" class="col-md-2 control-label"></label>
            <div class="col-md-8">
                <textarea asp-for="KeyWords" class="form-control" rows="4" style="max-width: 560px"></textarea>
                <span asp-validation-for="KeyWords" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StartDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="EndDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Resource path</label>
            <div class="col-md-10">
                <div class="panel panel-default" style="max-width: 560px">
                    <div class="panel-heading">
                        <h3 class="panel-title">Path</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <label>
                                <input type="radio" asp-for="RadioHelpResourceLinkOrFile" value="link" />
                                Link
                            </label>

                        </div>
                        <div class="col-md-6">
                            <label><input type="radio" asp-for="RadioHelpResourceLinkOrFile" value="file" /> File</label>
                        </div>

                        <div id="linkPanel" style="display:none" class="row">
                            <label asp-for="AssetLink" class="col-md-2 control-label pull-left"></label>
                            <div class="col-md-10">
                                <input asp-for="AssetLink" class="form-control" style="max-width:560px" />
                                <span asp-validation-for="AssetLink" class="text-danger"></span>

                            </div>

                        </div>
                        <div id="filePanel" style="display: none">
                            <label asp-for="AssetFiles" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="AssetFiles" class="form-control" type="file"/>
                                <span asp-validation-for="AssetFiles" class="text-danger"></span>
                                <br />
                                <span  class="text-danger">@ViewBag.UploadError</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" id="btnSubmit" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function (event) {
          

            var linkOrFile = $('input[name=RadioHelpResourceLinkOrFile]:checked', '#resourceForm').val();
            if (linkOrFile == 'link') {
                $('#linkPanel').show();
            } else {
                $('#filePanel').show();
            }


            var resourceForm = $('#resourceForm');
            ToogleSubmitButton();

            $('input[name=RadioHelpResourceLinkOrFile]').on('change', function (event) {
                if ($(this).val() == 'link') {
                    $('#linkPanel').show();
                    $('#filePanel').hide();
                } else {
                    $('#filePanel').show();
                    $('#linkPanel').hide();
                }
                ToogleSubmitButton();
            });

            $('#resourceForm input, textarea').on('keyup blur', function (e) {
                ToogleSubmitButton();
            });

            function ToogleSubmitButton() {
                if (resourceForm.valid()) {
                    $('#resourceForm #btnSubmit').prop('disabled', false);
                } else {
                    $('#resourceForm #btnSubmit').prop('disabled', 'disabled');
                }

            }
        });  
    </script>
}
