@model IEnumerable<Linkit.Domain.Asset>

@{
    ViewData["Title"] = "Index";
}

<div class="content">
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-success" asp-action="HelpResourceUpload">Create new resource</a>
            <br />
        </div>
       
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <form class="form-horizontal" id="searchForm">
                    <div class="box-body">
                           <div class="col-md-12">
                               <div class="form-group" id="categories">
                                   @{
                                       int cnt = 0;
                                       List<SelectListItem> categories = ViewBag.Categories as List<SelectListItem>;
                                       foreach (var item in categories)
                                       {
                                           if (cnt++ % 3 == 0)
                                           {
                                               @:<div class="form-group"></div>
                                            }

                                           @:<div class="col-md-4">
                                               <div class="checkbox">
                                                   <label>
                                                       <input type="checkbox" name="selectedCategories" value="@item.Value"
                                                              @(Html.Raw(item.Selected ? "checked=\"checked\"" : "")) /> @item.Text
                                                       </label>
                                                   </div>
                                                   @:</div>
                                        }
                                   }
                               </div>

                               <div class="form-group">
                                   <label class="col-md-1 control-label">Search</label>
                                   <div class="col-md-10">
                                       <input class="form-control" id="searchString" name="searchString"/>
                                   </div>
                               </div>
                           </div>                     

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="col-md-7 col-md-offset-5">
                            <button type="button" class="btn btn-primary" id="btnSelectNone">Select None</button>
                            <button type="button" class="btn btn-primary" id="btnSelectAll">Select All</button>
                            <button type="button" class="btn btn-default" id="btnClearFilter">Clear Filter</button>
                            <button type="submit" class="btn btn-primary" id="btnApplyFilter">Apply Filter</button>
                        </div>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>

    <div id="assets-grid">

    </div>

    <div id="ajax-loading" class="ajax-loading">

    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        (function ($) {
            $.fn.serializeObject = function () {
                var o = {};
                var arr = this.serializeArray();
                $.each(arr, function () {
                    if (o[this.name] === undefined) {
                        o[this.name] = this.value;
                    } else {
                        if ((o[this.name] instanceof Array) === false) { // !o[this.name].push
                            o[this.name] = [o[this.name]]; // declare an array
                        }
                        o[this.name].push(this.value);
                    }
                });
                return o;
            };
        })(jQuery);

        $(document).ready(function () {
           
            getAssets(1);

            $('#btnSelectNone').on('click', function (e) {
                $('#searchForm input[name=selectedCategories]').prop('checked', false);
            });

            $('#btnSelectAll').on('click', function (e) {
                $('#searchForm input[name=selectedCategories]').prop('checked', true);
            });

            $('#btnClearFilter').on('click', function (e) {
                $('#searchForm input[name=selectedCategories]').prop('checked', true);
                $('#searchString').val('');
            });

            $('#searchForm').submit(function (e) {
                getAssets(1);      
                e.preventDefault();
            });
        });

        function getAssets(page) {
            var searchData = $('#searchForm').serializeObject();
            searchData.Page = page;
            searchData.PageSize = $('#PageSize').val();
            $.ajax({
                type: "POST",
                url: Linkit.Urls.GetAssetsListUrl,
                //"Assets/List",
                data: searchData,
                dataType: "html",
                beforeSend: function (e) {
                    // $('#overlay').show();
                    ShowAjaxLoading("ajax-loading", "assets-grid")
                },
                success: function (response, textStatus, jqXHR) {
                    $('#assets-grid').html(response);
                    //$('#overlay').hide(1000);
                    HideAjaxLoading("ajax-loading");
                },
                error: function (jqXHR, textStatus, throwException) {
                    alert('Opps! Something wrong! Try again.')
                },
                complete: function (jqXHR, textStatus) {
                    //$('#overlay').hide(2000);
                }
            });
        }

        function ShowAjaxLoading(overlayId, idOfDivToOverlay) {
                var pos = $("#" + idOfDivToOverlay).offset();
                var width = $("#" + idOfDivToOverlay).width();
                var height = $("#" + idOfDivToOverlay).height();

                $("#" + overlayId).css({
                    "width": width + "px",
                    "height": height + "px",
                    "left": pos.left + "px",
                    "top": pos.top + "px"
                });

                $("#" + overlayId).show();
                $("#" + overlayId).animate({ opacity: 0.4 }, 1);
            }

        function HideAjaxLoading(overlayId) {
             $("#" + overlayId).animate({ opacity: "hide" }, 500);
             //$("#" + overlayId).hide(2000);
        }

    </script>
}
